<!DOCTYPE html>
<html>

<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<style>
    .container {
        text-align: center;
    }

    .input-box {
        border-radius: 15px;
        width: 20%;
        height: 30px;
        padding: 0 15px
    }

    button {
        border-radius: 15px;
        padding: 10px 15px;
        border: 1px solid transparent;

    }

    button:hover {
        border: 1px solid gray;
    }

    .bbtn {
        border-radius: 15px;
        padding: 10px 10px;
        border: none;
        box-shadow: 0px 0px 2px black;
    }

    .bbtn:active {
        background-color: gray;
        color: white;
    }
</style>

<body>
    <a href="/"><button class="bbtn" type="button">Back</button></a>
    <div class="container">
        <div>
            <h1>Enter a registerd email to join a room </h1>
            <input class="input-box" type="email" id="email" required>
            <button onclick="redirect()">Join</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        function redirect() {
            const email = $('#email').val();
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (emailPattern.test(email)) {
                window.location.href = `/room/user/${email}`
            } else {
                toastr.error("Please Enter a email");
            }
        }
    </script>
</body>

</html>